@import "reset";
@import "fonts";
@import "media";
@import "var";

/*======================
|		STYLE MAP      |
========================

1. 
2. 
3. 
4. 
5. 
6. 
7. 
8. 
9. 

======================*/
.wrapper{
	width: 80%;
	background: #888;
	margin: 0 auto;
	padding: 30px 100px;
	box-sizing: border-box;
	text-align: center;
	min-width: 400px;
}

.h1{
	font-size: 40px;
	color: #333;
	margin: 0 0 30px 0;
	font-weight: bold;
}

#cont{
	margin: 0 auto;
	.list{
		text-align: left;
		display: block;
		width: 100%;
		border: 1px solid #333;
		border-bottom: none;
		padding: 20px;
		color: white;
		font-size: 20px;
		letter-spacing: 2px;
		transition: all .2s ease-out .1s;
		&:last-child{
			border-bottom: 1px solid #333;
		}
		&:hover{
			background: #C0EDB8;
			color: #134713;
			.fa-pencil{
				color: #333;
			}
		}

	}
} 

.fa{
	cursor: pointer;
	width: 25px;
	height: 25px;
	line-height: 22px !important;
	text-align: center;
	border-radius: 50%;
	float: right;
	margin: 0 5px; 	
}

.fa-times{
	color: red;
	&:hover{
		color: white;
		background: red;
		box-shadow: 0 1px 3px rgba(0,0,0,.3);
	}
}
.fa-pencil{
	color: #333;
	&:hover{
		background: #f66a6a;
	}
}

#addItem{
	padding: 10px 30px;
	margin: 30px;
	border-top: 2px solid #469246;
	border-left: 2px solid #469246;
	border-right: 2px solid #0B2D0B;
	border-bottom: 2px solid #0B2D0B;
}

#addBtn{
	@extend #addItem;
	background: #134713;
	color: white;
	border-top: 2px solid #469246;
	border-left: 2px solid #469246;
	border-right: 2px solid #0B2D0B;
	border-bottom: 2px solid #0B2D0B;
	&:active{
		border-left: 2px solid #469246;
		border-bottom: 2px solid #469246;
		border-top: 2px solid #0B2D0B;
		border-right: 2px solid #0B2D0B;
	}

}


/*popup window*/



#changeValue{
	@extend #addItem;
	margin: 20px 0;
	height: 25px;
	width: 80%;
}

.popup-modal-dismiss{
	@extend #addBtn;
	margin: 0px 10px 10px 0;
	display: inline-block;
}

.setCansel{
	background: #e45757;
}


#modal_form {
	width: 300px; 
	height: 160px; /* Рaзмеры дoлжны быть фиксирoвaны */
	border-radius: 5px;
	border: 3px #000 solid;
	background: #fff;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 50%; /* пoлoвинa экрaнa слевa */
	margin-top: -150px;
	margin-left: -150px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
	display: none;  
	z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	padding: 20px 10px;
}

#modal_form #modal_close {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
	&:hover{
		color: red;
		font-weight: bold;
	}
}

#overlay {
	z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.8; /* нo немнoгo прoзрaчнa */
	width:100%; 
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; 
}